body {
  background: #242424;
  margin: 0px;
}

.home {
  margin-top: 50px;
  border: solid black;
  margin-left: 150px;
  margin-right: 150px;
}

a {
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  text-decoration: none;
  font-family: "Karla", serif;
}

a:hover {
  padding-top: 8px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: 0.5s;
  color: #ffffff;

  transition: 0.1s;
  border-bottom: solid black 5px;
}

.nav-bar {
  background-color: #d9d9d9;
  height: 50px;
  box-shadow: 0px 0px 30px;
}

.nav-content {
  /* border: solid black; */
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  height: 50px;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
  /* background-color: blue; */
}

.header-text {
  color: white;
  font-size: 50px;
  font-family: "Karla", serif;
}

/* RESPONSIVE */

@media only screen and (max-width: 1300px) {
  body {
    background-color: lightblue;
  }

  .home {
    margin-top: 50px;
    border: solid black;
    margin-left: 150px;
    margin-right: 150px;
  }

  .nav-content {
    border: solid black;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  a {
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: "Karla", serif;
  }

  a:hover {
    color: rgb(75, 75, 75);
  }

  .home {
    margin-top: 50px;
    border: solid black;
    margin-left: 150px;
    margin-right: 150px;
  }

  .nav-bar {
    background-color: rgb(165, 165, 165);
    height: 20px;
  }

  .nav-content {
    border: solid black;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
  }
}
